 h1 {
            color: brown;
        }

        h2 {
            border: 2px solid;
            margin-left: 30px;
            padding-bottom: 20px;
        }

        * {
            border : 0.5px solid palevioletred;
        }
        .imagebox{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Box1{
            display: grid;
            justify-content: center;
            background-color: coral;
        }
        
        
        .flexing{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
       
        .footer{
            display: flex;
            justify-content: flex-end;
        }

        body{
            background-color: #808080;
        }

        a:link{
            color: #ffffff;
        }
        
        a:visited{
            color: rgb(187, 14, 101);
        }

        .item{
            position: relative;
        }

        .item p{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;
        }

        .item:hover p{
            opacity: 1;
        }

        .item:hover img{
            opacity: 0.33;
        }
        
        
